@model Forum.Topics

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.AspNetUsers.UserName)</h4>
    <hr />
    <div class="message-wrapper">

    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
